NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDo37W0VRza9N5IJzR9xb4J4ZJiAbosDYU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=lingodash-2026.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://lingodash-2026-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lingodash-2026
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lingodash-2026.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=667523805694
NEXT_PUBLIC_FIREBASE_APP_ID=1:667523805694:web:2c81b71273d65a134d90af
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-P6WR00JPWS
NEXT_PUBLIC_TELEGRAM_CHANNEL=@caaxratdev
NEXT_PUBLIC_ADSENSE_CLIENT=
NEXT_PUBLIC_ADSENSE_ENABLED=false
